/* Resetando margens e paddings para garantir um layout consistente */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.div-body-default {
	margin: 0;
	font-family: Arial, sans-serif;
}

.div-page-full-page {
	display: flex;
	height: 100vh;
}

/* Estilo para header fixo utlizado na master page  */
.div-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background-color: #DCDCDC;
	color: #400000;
	z-index: 1000;
	
}
/* Estilo para o texto default 1  */
.titulo-principal-default-1 {
	font-family: 'Arial', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

/* Estilo para o texto default 2  */
.titulo-principal-default-2 {
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #808080;
}

/* Estilo para footer fixo utlizado na master page  */
.div-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25px;
	background-color: #DCDCDC;
	color: #400000;
	z-index: 1000;
	
}
